---
import ScrollSnapLayout from "../layouts/ScrollSnapMain.astro";
import ExternalLink from "../components/common/ExternalLink.astro";
import Icon from "../components/common/Icon.astro";
import CodeBlock from "../components/common/CodeBlock.astro";
import Remark from "../components/common/Remark.astro";
import Tooltip from "../components/common/Tooltip.astro";

import { Image } from "astro:assets";
import vsCodeImg from "~/assets/images/vscode.svg";
import neovimImg from "~/assets/images/neovim.svg";
import jetbrainsImg from "~/assets/images/jetbrains.svg";

import "../scss/fonts/_Prompt.scss";

import { getExtensionInstalls } from "~/util/vscode";

const numberFormatter = Intl.NumberFormat(undefined, {
  notation: "compact",
  roundingMode: "trunc",
  maximumFractionDigits: 1,
});

const installs = numberFormatter.format(
  await getExtensionInstalls("sumneko.lua")
);

const annotationsPage = await import("~/content/wiki/annotations.mdx");
const annotationCount = annotationsPage
  .getHeadings()
  .reduce((count, heading) => (count += heading.text.includes("@") ? 1 : 0), 0);
---

<ScrollSnapLayout title="Home">
  <main>
    <section id="intro">
      <div class="description">
        <h1>Lua Language Server</h1>

        <div id="statistics">
          <Tooltip content="Unique installs in Visual Studio Code">
            <span class="stat installs">
              <b>{installs}</b>
              <Image src={vsCodeImg} alt="Visual Studio Code installs" />
            </span>
          </Tooltip>
          <Tooltip content="Stars on GitHub">
            <span class="stat stars">
              <b>3K+</b>
              <Icon name="star" group="solid" color="#ffcb00" />
            </span>
          </Tooltip>
        </div>

        <div class="announcement">
          <a href="/wiki/addons/#luarocks">
            <span class="tag">BETA</span><span class="description"
              >Install Addons From LuaRocks</span
            >
          </a>
        </div>

        <p>
          The Lua Language Server uses the <ExternalLink
            url="https://microsoft.github.io/language-server-protocol/"
          >
            Language Server Protocol
          </ExternalLink> to provide various <a href="#features">features</a> for
          <ExternalLink url="https://www.lua.org/">Lua</ExternalLink> in your <ExternalLink
            url="https://microsoft.github.io/language-server-protocol/implementors/tools/"
          >
            favourite code editors
          </ExternalLink>, making development easier, safer, and faster!
        </p>

        <p>It's time that Lua gets proper support in your editor!</p>

        <div class="quick-links">
          <a href="#install">
            Install <Icon name="arrow-down" group="solid" /></a
          >
        </div>
      </div>
      <video autoplay loop muted>
        <source src="/videos/vscode-demo.webm" type="video/webm" />
        <source src="/videos/vscode-demo.mp4" type="video/mp4" />
      </video>
    </section>

    <section id="features">
      <h2>Features</h2>
      <div class="grid">
        <div>
          <Icon name="at" group="solid" />
          <div>Powerful Annotations</div>
          <p>
            <a href="/wiki/annotations/" target="_blank"
              >{annotationCount} annotations</a
            > to mark parameters, returns, classes, and more!
          </p>
        </div>
        <div>
          <Icon name="bolt" group="solid" />
          <div>Dynamic Type System</div>
          <p>
            A type system fit for Lua that helps improve safety and catch type
            errors in development.
          </p>
        </div>
        <div>
          <Icon name="triangle-exclamation" group="solid" />
          <div>Diagnostics</div>
          <p>
            Provides <a href="/wiki/diagnostics/" target="_blank"
              >warnings and errors</a
            > for <a href="/wiki/syntax-errors/" target="_blank"
              >syntax mistakes</a
            >, type errors, and more.
          </p>
        </div>
        <div>
          <Icon name="comment-dots" group="solid" />
          <div>Autocompletion</div>
          <p>Offers completion options while you program to speed things up.</p>
        </div>
        <div>
          <Icon name="message" group="solid" />
          <div>Hover for Details</div>
          <p>
            Hover signatures in your code to receive detailed information about
            them.
          </p>
        </div>
        <div>
          <Icon name="language" group="solid" />
          <div>Localization Support</div>
          <p>
            Currently available in English, Chinese, Taiwanese, Portuguese. <a
              href="/wiki/translations/"
              target="_blank">Help translate!</a
            >
          </p>
        </div>
        <div>
          <Icon name="file-code" group="solid" />
          <div>Supports Definition Files</div>
          <p>
            <a href="/wiki/definition-files/" target="_blank">Make your own</a> or
            use one of the many community-provided defintion files for popular libraries
            and APIs.
          </p>
        </div>
        <div>
          <Icon name="paintbrush" group="solid" />
          <div>Built-in Formatting</div>
          <p>
            Provides a <a href="/wiki/formatter/" target="_blank"
              >built-in formatter</a
            > for ensuring a consistent code-style across your workspace.
          </p>
        </div>
        <div>
          <Icon name="plug" group="solid" />
          <div>Custom Plugins</div>
          <p>
            Use <a href="/wiki/plugins/" target="_blank">plugins</a> to add custom
            functionality to the language server.
          </p>
        </div>
        <div>
          <Icon name="book-open-reader" group="solid" />
          <div>Documentation Generation</div>
          <p>
            <a href="/wiki/export-docs/" target="_blank"
              >Generate documentation</a
            > in Markdown and JSON formats from your codebase.
          </p>
        </div>
      </div>
    </section>

    <section id="install">
      <h2>Install for...</h2>
      <div class="install-tabs">
        <button value="vscode-install" class="vscode active" tabindex="0">
          <Image src={vsCodeImg} alt="Visual Studio Code" />
        </button>
        <button value="neovim-install" class="neovim" tabindex="0">
          <Image src={neovimImg} alt="Neovim" />
        </button>
        <button value="jetbrains-install" class="jetbrains" tabindex="0">
          <Image src={jetbrainsImg} alt="JetBrains" />
        </button>
        <button value="other-install" class="other" tabindex="0"
          ><Icon name="question" group="solid" /></button
        >
      </div>

      <div class="tab-content">
        <div id="vscode-install" class="active">
          <h3>Visual Studio Code</h3>
          <p>
            Install the <ExternalLink
              url="https://marketplace.visualstudio.com/items?itemName=sumneko.lua"
            >
              sumneko.lua
            </ExternalLink> extension to get up and running as fast as possible!
          </p>
          <div class="instructions">
            <ol>
              <li>Search for "Lua" by sumneko in the extension marketplace.</li>
              <li>Download and install the extension.</li>
              <li>That's it! It's that easy! Happy Coding!</li>
            </ol>
          </div>
        </div>
        <div id="neovim-install">
          <h3>Neovim</h3>
          <div class="instructions">
            <ol>
              <li>
                Install lua-language-server
                <ol type="A">
                  <li>
                    From package manager
                    <ul>
                      <li>
                        Scoop: <code>scoop install lua-language-server</code>
                      </li>
                      <li>
                        Homebrew: <code>brew install lua-language-server</code>
                      </li>
                      <li>
                        Macports: <code
                          >sudo port install lua-language-server</code
                        >
                      </li>
                    </ul>
                    <li>
                      From <ExternalLink
                        url="https://github.com/LuaLS/lua-language-server/releases/latest"
                      >
                        latest release
                      </ExternalLink>
                    </li>
                    <li>
                      <a href="/wiki/build/" target="_blank"
                        >Build from scratch</a
                      >
                    </li>
                  </li>
                </ol>
              </li>
              <li>
                Ensure that the <code>lua-language-server</code> is executable from
                the command line. It may need to be added to <code>$PATH</code>.
              </li>
              <li>
                In your Neovim configuration file, add the following:
                <!-- prettier-ignore -->
                <CodeBlock language="Lua"><pre>require'lspconfig'.lua_ls.setup&#123;&#125;</pre></CodeBlock>
              </li>
              <li>
                See the <ExternalLink
                  url="https://github.com/neovim/nvim-lspconfig/blob/master/doc/configs.md#lua_ls"
                >
                  Neovim documentation for more
                </ExternalLink>
              </li>
            </ol>
          </div>
        </div>
        <div id="jetbrains-install">
          <h3>JetBrains</h3>
          <p>
            Install the <ExternalLink
              url="https://plugins.jetbrains.com/plugin/22315-sumnekolua"
            >
              SumnekoLua
            </ExternalLink> plugin from the JetBrains Marketplace!
          </p>
          <p>
            See <ExternalLink
              url="https://www.jetbrains.com/help/idea/managing-plugins.html"
              >JetBrains docs</ExternalLink
            > for instructions on installing plugins.
          </p>
        </div>
        <div id="other-install">
          <h3>Other</h3>
          <p>
            The language server can also just be run from the command line,
            allowing it to be used wherever the <ExternalLink
              url="https://microsoft.github.io/language-server-protocol/"
            >
              Language Server Protocol
            </ExternalLink> is supported!
          </p>
          <div class="instructions">
            <ol>
              <li>
                Install lua-language-server
                <ol type="A">
                  <li>
                    From package manager
                    <ul>
                      <li>
                        Scoop: <code>scoop install lua-language-server</code>
                      </li>
                      <li>
                        Homebrew: <code>brew install lua-language-server</code>
                      </li>
                      <li>
                        Macports: <code
                          >sudo port install lua-language-server</code
                        >
                      </li>
                    </ul>
                    <li>
                      From <ExternalLink
                        url="https://github.com/LuaLS/lua-language-server/releases/latest"
                      >
                        latest release
                      </ExternalLink>
                    </li>
                    <li>
                      <a href="/wiki/build/" target="_blank"
                        >Build from scratch</a
                      >
                    </li>
                  </li>
                </ol>
              </li>
              <li>
                Run <code>./bin/lua-language-server</code> and check out the <a
                  href="/wiki/usage/#arguments">supported arguments</a
                >.
              </li>
            </ol>
          </div>
          <Remark type="note">
            <p>
              If you plan to use a symbolic link to point to the language
              server, you will want to instead use a wrapper script like the one
              below. This is required because the language server expects to
              find files in the current working directory.
            </p>
            <CodeBlock language="bash">
              <pre>#!/bin/bash
exec &quot;&lt;path-to-directory&gt;/bin/lua-language-server&quot; &quot;$@&quot;</pre>
            </CodeBlock>
          </Remark>
        </div>
      </div>
    </section>

    <section id="next-steps">
      <h2>Next Steps</h2>
      <p>Check out the wiki to learn more about the language server.</p>
      <a href="/wiki/">
        Wiki
        <Icon name="arrow-right" group="solid" />
      </a>
    </section>
  </main>
</ScrollSnapLayout>

<script>
  import axios from "axios";
  import { TimeCache } from "~/classes/TimeCache";
  import { assertElement } from "~/util/DOM";

  const ENDPOINT = "https://api.github.com/repos/LuaLS/lua-language-server";

  const starsElement = assertElement<HTMLDivElement>("#statistics .stars > b");

  const cache = new TimeCache<number>(ENDPOINT, 3600);
  let stars = cache.get();

  if (!stars) {
    const response = await axios.get(ENDPOINT);
    stars = response.data.stargazers_count as number;
    cache.store(stars);
  }

  const numberFormatter = Intl.NumberFormat(undefined, {
    notation: "compact",
    roundingMode: "trunc",
    maximumFractionDigits: 1,
  });
  starsElement.textContent = numberFormatter.format(stars);
</script>

<script>
  // Swap active tab on hover of install method
  const installButtons = document.querySelectorAll<HTMLButtonElement>(
    ".install-tabs > button"
  );
  const tabs: {
    [key: string]: { button: HTMLButtonElement; content: HTMLDivElement };
  } = {};

  const setTabActive = (tab: string) => {
    Object.values(tabs).forEach((tab) => {
      tab.button.classList.remove("active");
      tab.content.classList.remove("active");
    });
    tabs[tab].button.classList.add("active");
    tabs[tab].content.classList.add("active");
  };

  for (const button of installButtons) {
    const tab = document.querySelector<HTMLDivElement>(
      `#install .tab-content #${button.value}`
    );

    if (!tab) {
      throw new Error(`Could not find tab: ${button.value}`);
    }

    tabs[button.value] = { button, content: tab };

    button.addEventListener("mouseover", () => {
      setTabActive(button.value);
    });

    button.addEventListener("click", () => {
      setTabActive(button.value);
      window.location.hash = `#${button.value}`;
      tab.scrollIntoView();
    });

    tab.addEventListener("focusin", () => {
      setTabActive(button.value);
      tab.scrollIntoView();
    });
  }

  // If URL is targeting a specific install method, set it as active and scroll to it.
  const onHashChange = () => {
    const target = window.location.hash;
    if (target) {
      const tabName = target.replace("#", "");
      const tab = document.querySelector(`#install .tab-content #${tabName}`);
      if (tab) {
        setTabActive(tabName);
        tabs[tabName].content?.scrollIntoView();
      }
    }
  };

  onHashChange();
  window.addEventListener("hashchange", onHashChange);
</script>

<style lang="scss">
  main {
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  section {
    scroll-snap-align: start;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;

    &:nth-of-type(2n) {
      background-color: #0c2e4d;
    }

    * {
      box-sizing: border-box;
    }
  }

  section#intro {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto 0.5em;
    gap: 1em 1em;

    .description {
      height: 60%;
      font-size: 1em;

      h1 {
        font-size: 3em;
        margin: 0px;
        padding-bottom: 1rem;
      }
      p {
        font-size: 1.3em;
      }
    }

    #statistics {
      font-size: 2.25em;
      display: flex;
      justify-content: center;
      gap: 1em 2em;

      .stat {
        display: flex;
        align-items: center;
        gap: 0.25em;

        & :not(:first-child) {
          font-size: 0.8em;
        }

        img {
          width: 1.4em;
          height: auto;
        }
      }
    }

    .announcement {
      width: fit-content;
      margin: 1em auto auto auto;
      border-radius: 99em;
      background-color: #16436e00;
      font-size: 1.1em;
      padding: 0.2em 0.2em;
      background: linear-gradient(90deg, #702fc6 0%, #b710c0 100%);
      box-shadow: #b669ff 0px 0px 1em 0px;

      a {
        color: white;
      }

      span {
        padding: 0.1em 0.5em;
      }

      span.tag {
        font-weight: bold;
        border-radius: 1em 0px 0px 1em;
        position: relative;
        padding: 0.2em 0.5em 0.2em 0.75em;
      }

      span.description {
        margin: 0px;
        border-radius: 0px 99em 99em 0px;
        border-left: 2px solid white;
      }
    }

    .quick-links {
      margin-top: 2em;
      grid-column: 1/3;
      display: flex;
      justify-content: space-evenly;

      a {
        text-align: center;
        color: white;
        font-size: 1.5em;
        padding: 0.1em 0.5em;
      }
    }

    video {
      background-color: #232a2f;
      border-radius: 0.5em;
      width: 100%;
      padding: 0.25em;
      box-sizing: border-box;
    }
  }

  section#features {
    justify-content: flex-start;

    h2 {
      font-size: 3em;
      margin-top: 0px;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(23em, 1fr));
      width: 100%;
      margin: 0.5rem;
      justify-items: stretch;
      overflow-y: auto;
      max-height: 100%;

      & > div {
        text-align: center;
        padding: 0.5em 0.5em;
        border-radius: 1em;
        box-shadow:
          var(--glow-color) 0px 0px 0.3em 0.1em,
          var(--glow-color) 0px 0px 0.3em 0.1em inset;
        box-sizing: border-box;

        :global(i) {
          margin: auto;
          display: block;
          font-size: 2em;
          color: #ffffff;
        }

        & > div {
          font-family: "Prompt";
          font-size: 1.4em;
          margin: 0.2em auto;
        }
        p {
          margin: 0px;
        }
      }
    }
  }

  section#install {
    h2 {
      margin: 0px;
      margin-bottom: 0.5em;
    }

    .install-tabs {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      position: relative;
      width: 100%;
      margin-bottom: 1em;
      z-index: 1;

      button {
        background-color: white;
        border: none;
        border-radius: 99em;
        padding: 0.3em;
        aspect-ratio: 1;
        font-size: 4vh;
        display: flex;
        align-items: center;
        gap: 0.3em;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          border-radius: 99em;
          background-color: var(--brand-primary);
          transition: opacity ease-in-out 0.5s;
          opacity: 0;
          filter: blur(10px);
        }

        &.active::before {
          opacity: 0.7;
        }

        &::after {
          content: "";
          position: absolute;
          z-index: -2;
          top: 10%;
          left: 10%;
          width: 80%;
          height: 80%;
          border-radius: 20%;
          background-color: var(--brand-primary);
          transition: opacity ease-in-out 0.5s;
          opacity: 0;
        }

        &.active::after {
          filter: brightness(150%) hue-rotate(30deg) blur(15px);
          animation: spin 3s infinite both linear;
          opacity: 1;
        }

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }

        &.vscode {
          --brand-primary: #23a9f2;
        }
        &.neovim {
          --brand-primary: #78e027;
        }
        &.jetbrains {
          --brand-primary: #fb0240;
        }
        &.other {
          --brand-primary: #ffdc15;
        }

        &:hover {
          cursor: pointer;
        }

        img,
        :global(i) {
          height: 1em;
          width: 1em;
        }
      }
    }

    .tab-content {
      position: relative;
      width: fit-content;
      max-width: 100%;
      margin: 0px auto auto auto;
      overflow: auto auto;

      & > div {
        position: absolute;
        left: -999vw;
        top: -999vh;
        opacity: 0;

        h3 {
          margin-bottom: auto;
        }

        & > p {
          text-align: center;
        }

        &.active {
          transition: opacity ease-in 0.5s;
          opacity: 1;
          position: static;
          padding-bottom: 2em;
        }

        .instructions {
          ol {
            margin-left: 0.5em;

            &[type="1"],
            &:not([type]) {
              counter-reset: item;
              list-style: none;

              & > li::before {
                display: inline-block;
                content: counter(item);
                counter-increment: item;
                font-size: 1.25em;
                background-color: #ffffff;
                color: #000000;
                width: fit-content;
                min-width: 1.5em;
                text-align: center;
                border-radius: 1em;
                margin-right: 0.5em;
              }
            }

            &[type="A"] {
              list-style-type: upper-alpha;
            }

            & > li {
              margin: 0.5em auto;
            }
          }
        }
      }
    }
  }

  section#next-steps {
    font-size: 1.75em;

    h2 {
      margin-top: 0px;
    }

    a {
      color: white;
    }
  }

  @media screen and (max-width: 1200px) {
    section#intro {
      display: flex;
      flex-direction: column;

      video {
        height: 100%;
      }
    }
  }

  @media screen and (max-width: 700px) {
    section#intro {
      .description {
        font-size: 0.85em;
      }

      video {
        display: none;
      }

      .grid {
        grid-template-columns: 1fr;
      }
    }

    section#install {
      ol {
        padding-left: 1em;
      }
    }
  }

  @media screen and (max-width: 400px) {
    section#intro {
      .description {
        font-size: 0.7em;
      }
    }
  }

  @media screen and (orientation: portrait) {
    section#demo video {
      display: none;
    }
  }
</style>
