---
import { render } from "astro:content";
import { getCollection } from "astro:content";
import type { searchItem } from "~/services/search";
import { searchTerms } from "~/services/search";

/**
 * Infers the static URL of a wiki article from its file path.
 * @param path filepath of article
 * @param target optional target heading
 */
const getContentStaticURL = (path: string, target?: string): string => {
  const rgx = /src\/.+?\/(.+)\..*?/g;

  console.log(path);

  const result = rgx.exec(path);
  if (result === null) throw new Error(`Failed to infer static URL of ${path}`);

  if (target) {
    return `/${result[1]}/#${target}`;
  } else {
    return `/${result[1]}/`;
  }
};

const searchTags: searchItem[] = [...searchTerms];

if (searchTags.length === searchTerms.length) {
  const pages = await getCollection("wiki");

  for (const page of pages) {
    if (!page.filePath) {
      throw new Error(`Page ${page.id} does not have a file path}`);
    }

    const { headings } = await render(page);

    const href = getContentStaticURL(page.filePath);

    // Add article title to search options
    searchTags.push({ text: page.data.title, href });

    // Add custom article tags to search options
    for (const tag of page.data.tags ?? []) {
      searchTags.push({ text: tag, href });
    }

    // Add article headings to search options
    for (const heading of headings) {
      searchTags.push({
        text: heading.text,
        href: getContentStaticURL(page.filePath, heading.slug),
      });
    }
  }
}
---

<div id="site-search">
  <dialog>
    <input type="search" placeholder="Search..." autofocus />
    <div class="suggestions" tabindex="-1">
      {
        searchTags.map((entry) => (
          <a
            href={entry.href}
            target={entry.href.startsWith("/") ? undefined : "_blank"}
          >
            <span class="term">{entry.text}</span>
            <span class="page">{entry.href}</span>
          </a>
        ))
      }
    </div>
  </dialog>
</div>

<script>
  import { SearchDialog } from "~/classes/SearchDialog";
  import { assertElement } from "~/util/DOM";

  new SearchDialog(assertElement<HTMLDialogElement>("#site-search dialog"));
</script>

<style lang="scss">
  #site-search {
    position: absolute;

    dialog {
      display: none;
      width: 60%;
      height: 60%;
      background: none;
      border: none;
      grid-template-columns: 1fr;
      grid-template-rows: 2.5em 4fr;
      align-items: center;
      justify-content: center;
      gap: 1em;

      &::backdrop {
        background-color: #000000aa;
        backdrop-filter: blur(2px);
      }

      &[open] {
        display: grid;
      }
      input[type="search"] {
        font-family: Poppins;
        width: 100%;
        font-size: 1.5em;
        margin: auto;
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
        border: none;
        background: #0f2e4b;
        color: white;

        &:focus + div.suggestions > a:first-child() {
          color: white;
        }
      }

      div.suggestions {
        align-self: flex-start;
        overflow-y: auto;
        max-height: 100%;
        background-color: #081f34;
        border-radius: 0.5em;

        & > a {
          display: none;
          font-size: 1em;
          padding: 0.25em 0.5em;
          box-sizing: border-box;

          &:focus {
            outline: none;
            color: white;
            border-radius: unset;
          }

          &.match {
            display: flex;
            justify-content: space-between;
          }
          span {
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            white-space: nowrap;

            &.term {
              flex: 1 1;
            }

            &.page {
              flex: 1 2;
              text-align: right;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    #site-search dialog {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    div#site-search-suggestions {
      & > a {
        span {
          &.page {
            font-size: 0.8em;
          }
        }
      }
    }
  }
</style>
