---
import { getCollection } from "astro:content";
import Icon from "../../components/common/Icon.astro";
import Layout from "../../layouts/Main.astro";
import Tooltip from "../../components/common/Tooltip.astro";
import fetch from "../../util/fetch";

const CONTRIBUTOR_COUNT = 30;

const wikiArticles = await getCollection("wiki", ({ data }) => {
  return data["getting-started"] === true;
});

type Contributor = {
  login: string;
  id: number;
  avatar_url: string;
  gravatar_id: string;
  url: string;
  html_url: string;
  contributions: number;
  staff?: boolean;
};

const getContributorLevel = (contributions: number) => {
  if (contributions > 100) {
    return "diamond";
  } else if (contributions > 50) {
    return "gold";
  } else if (contributions > 25) {
    return "silver";
  }

  return "bronze";
};

let response;

response = await fetch(
  `https://api.github.com/repos/LuaLS/lua-language-server/contributors?per_page=${CONTRIBUTOR_COUNT}`
);

const contributors = (await response.json()) as Contributor[];
---

<Layout title="Wiki">
  <main>
    <h1>Welcome to the wiki!</h1>
    <div class="grid">
      <section id="get-started">
        <h2>Get Started</h2>
        <p>
          Below are some good articles for those new to the Lua Language Server
        </p>
        <div class="grid">
          <a href="/#install" target="_blank">
            Install
            <p>Installation instructions</p>
          </a>
          {
            wikiArticles.map((article) => (
              <a href={`/wiki/${article.slug}`}>
                {article.data.title}
                <p>{article.data.description}</p>
              </a>
            ))
          }
        </div>
      </section>
      <section id="contributors">
        <h2>Top Contributors</h2>
        <p>
          Thank you to all contributors to the wiki! <Icon
            name="heart"
            group="solid"
            color="red"
          />
        </p>
        <div class="grid">
          {
            contributors.map((user) => (
              <div
                class:list={[
                  "contributor",
                  getContributorLevel(user.contributions),
                ]}
              >
                <a href={user.html_url} rel="noopener nofollow">
                  <img src={user.avatar_url} />
                </a>
                <Tooltip text={user.login} placement="bottom" class="username">
                  <Fragment>{user.login}</Fragment>
                </Tooltip>
              </div>
            ))
          }
        </div>
      </section>
    </div>
  </main>
</Layout>

<style lang="scss">
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em;

    & > section {
      background-color: #163d62;
      padding: 1em;
      border-radius: 0.5em;

      h2 {
        margin: 0px;
      }
    }

    p {
      text-align: center;
    }
  }

  #get-started {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
      text-align: center;
      font-size: 1.3em;

      p {
        font-size: 0.7em;
        margin: 0px auto;
        color: white;
        font-weight: normal;
      }
    }
  }

  #contributors {
    div.grid {
      grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
      gap: 1em;
      margin: 0px 1em;
    }

    :global(div.contributor.placeholder) {
      --tier-color: #fff;

      :global(img) {
        border: none;
      }
    }

    div.contributor {
      width: 100%;
      height: auto;
      position: relative;

      a,
      img {
        display: block;
        aspect-ratio: 1;
        width: 100%;
        border-radius: 99em;
        border-width: 0.2em;
        &:focus {
          outline: var(--tier-color) solid 0.3em;
        }
      }
      img {
        border-style: solid;
        box-sizing: border-box;
        box-shadow: var(--tier-color) 0px 0px 10px 2px;
        border-color: var(--tier-color);
        position: relative;
      }

      &.diamond {
        --tier-color: #00f7ff;
      }
      &.gold {
        --tier-color: #ffe600;
      }
      &.silver {
        --tier-color: #b6b6b6;
      }
      &.bronze {
        --tier-color: #b46300;
      }

      span.username {
        color: white;
        display: block;
        text-align: center;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 700px) {
    #contributors div.grid {
      grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
    }
  }
</style>
