---
import { getCollection } from "astro:content";
import Icon from "~/components/common/Icon.astro";
import Layout from "~/layouts/Main.astro";
import Tooltip from "~/components/common/Tooltip.astro";
import fetch from "~/util/fetch";
import ExternalLink from "~/components/common/ExternalLink.astro";

const CONTRIBUTOR_COUNT = 30;

const allWikiArticles = await getCollection("wiki");
const gettingStartedArticles = allWikiArticles.filter(
  (article) => article.data["getting-started"] === true
);

type Contributor = {
  login: string;
  id: number;
  avatar_url: string;
  gravatar_id: string;
  url: string;
  html_url: string;
  contributions: number;
  staff?: boolean;
};

const getContributorLevel = (contributions: number) => {
  if (contributions > 100) {
    return "diamond";
  } else if (contributions > 50) {
    return "gold";
  } else if (contributions > 25) {
    return "silver";
  }

  return "bronze";
};

const response = await fetch(
  `https://api.github.com/repos/LuaLS/LuaLS.github.io/contributors?per_page=${CONTRIBUTOR_COUNT}`,
  { headers: { Authorization: `Bearer ${import.meta.env.GITHUB_TOKEN}` } }
);

const contributors = (await response.json()) as Contributor[];

if (!contributors) {
  throw new Error("Failed to get contributors");
}
---

<Layout title="Wiki">
  <main>
    <h1>Welcome to the wiki!</h1>
    <div class="grid">
      <section id="get-started">
        <h2>Get Started</h2>
        <p>
          Below are some good articles for those new to the Lua Language Server
        </p>
        <div class="grid">
          <div class="article">
            <a href="/#install" target="_blank">
              Install
              <p>Installation instructions</p>
            </a>
          </div>
          {
            gettingStartedArticles.map((article) => (
              <div class="article">
                <a href={`/wiki/${article.slug}/`}>
                  {article.data.title}
                  <p>{article.data.description}</p>
                </a>
              </div>
            ))
          }
        </div>
      </section>
      <section id="contributors">
        <h2>Top Contributors</h2>
        <p>
          Thank you to all contributors to the wiki! <Icon
            name="heart"
            group="solid"
            color="red"
          />
          <br />
          <ExternalLink
            url="https://github.com/LuaLS/LuaLS.github.io/blob/main/docs/CONTRIBUTING.md"
          >
            Contribute today!
          </ExternalLink>
        </p>
        <div class="flex">
          {
            contributors.map((user) => (
              <div
                class:list={[
                  "contributor",
                  getContributorLevel(user.contributions),
                ]}
              >
                <a href={user.html_url} rel="noopener nofollow" target="_blank">
                  <img src={user.avatar_url} />
                </a>
                <Tooltip
                  content={user.login}
                  placement="bottom"
                  class="username"
                >
                  <Fragment>{user.login}</Fragment>
                </Tooltip>
              </div>
            ))
          }
        </div>
      </section>
      <section id="all-articles">
        <h2>All Wiki Articles</h2>
        <div class="grid">
          {
            allWikiArticles.map((article) => (
              <div class="article">
                <a href={`/wiki/${article.slug}/`}>
                  {article.data.title}
                  <p>{article.data.description}</p>
                </a>
              </div>
            ))
          }
        </div>
      </section>
    </div>
  </main>
</Layout>

<style lang="scss">
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em;

    & > section {
      background-color: #163d62;
      padding: 1em;
      border-radius: 0.5em;

      h2 {
        margin: 0px;
      }
    }

    p {
      text-align: center;
    }
  }

  div.article {
    a {
      font-size: 1.3em;
    }
    p {
      font-size: 0.7em;
      margin: 0px auto;
      color: white;
      font-weight: normal;
    }
  }

  #get-started {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
      text-align: center;
    }
  }

  #contributors {
    div.flex {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      gap: 1em;
      margin: 0px 1em;
    }

    :global(div.contributor.placeholder) {
      --tier-color: #fff;

      :global(img) {
        border: none;
      }
    }

    div.contributor {
      width: 100%;
      height: auto;
      position: relative;
      width: 5em;

      a,
      img {
        display: block;
        aspect-ratio: 1;
        width: 100%;
        border-radius: 99em;
        border-width: 0.2em;
        &:focus {
          outline: var(--tier-color) solid 0.3em;
        }
      }
      img {
        border-style: solid;
        box-sizing: border-box;
        box-shadow: var(--tier-color) 0px 0px 10px 2px;
        border-color: var(--tier-color);
        position: relative;
      }

      &.diamond {
        --tier-color: #00f7ff;
      }
      &.gold {
        --tier-color: #ffe600;
      }
      &.silver {
        --tier-color: #b6b6b6;
      }
      &.bronze {
        --tier-color: #b46300;
      }

      span.username {
        font-size: 0.9em;
        color: white;
        display: block;
        text-align: center;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  section#all-articles {
    grid-column: 1 / span 2;

    .grid {
      grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
      text-align: center;
    }
  }

  @media screen and (max-width: 1200px) {
    .grid {
      grid-template-columns: 1fr;
    }

    section#all-articles {
      grid-column: 1;
    }
  }

  @media screen and (max-width: 700px) {
    #contributors div.grid {
      grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
    }
  }
</style>
