---
import { getCollection } from "astro:content";
import Icon from "~/components/common/Icon.astro";
import Layout from "~/layouts/Main.astro";
import Tooltip from "~/components/common/Tooltip.astro";
import fetch from "~/util/fetch";
import ExternalLink from "~/components/common/ExternalLink.astro";

import { Image } from "astro:assets";

const CONTRIBUTOR_COUNT = 30;

const allWikiArticles = (await getCollection("wiki")).sort((a, b) =>
  a.data.title.localeCompare(b.data.title)
);
await Promise.all(
  allWikiArticles.map((article) =>
    article.render().then((r) => {
      article.data.lastModified = r.remarkPluginFrontmatter.lastModified;
    })
  )
);
const articleCount = allWikiArticles.length;
const wordCount = allWikiArticles.reduce(
  (x, article) => x + Array.from(article.body.matchAll(/\w+/g)).length,
  0
);
const gettingStartedArticles = allWikiArticles.filter(
  (article) => article.data["getting-started"] === true
);

type Contributor = {
  login: string;
  id: number;
  avatar_url: string;
  gravatar_id: string;
  url: string;
  html_url: string;
  contributions: number;
  staff?: boolean;
};

const getContributorLevel = (contributions: number) => {
  if (contributions >= 100) {
    return "champion";
  } else if (contributions >= 50) {
    return "diamond";
  } else if (contributions >= 25) {
    return "gold";
  } else if (contributions >= 10) {
    return "silver";
  }

  return "bronze";
};

const filteredContributors = [
  49699333, // Dependabot
];

const headers: HeadersInit = {};
if (import.meta.env.GITHUB_TOKEN) {
  headers.Authorization = import.meta.env.GITHUB_TOKEN;
}
const response = await fetch(
  `https://api.github.com/repos/LuaLS/LuaLS.github.io/contributors?per_page=${CONTRIBUTOR_COUNT}`,
  {
    headers,
  }
);

const contributors = (await response.json()) as Contributor[];

if (!contributors) {
  throw new Error("Failed to get contributors");
}
---

<Layout title="Wiki">
  <main>
    <h1>Welcome To The Wiki!</h1>
    <div id="quick-links">
      <a href="/#install">
        <Icon name="download" group="solid" class="icon" />
        <h2>Install</h2>
        <p>Install instructions for the Lua Language Server.</p>
      </a>
      <a href="/wiki/faq/">
        <Icon name="question" group="solid" class="icon" />
        <h2>FAQ</h2>
        <p>Frequently asked questions and answers to them.</p>
      </a>
    </div>
    <div class="grid">
      <section id="get-started">
        <h2>Get Started</h2>
        <p>
          Below are some good articles for those new to the Lua Language Server.
        </p>
        <div class="grid">
          {
            gettingStartedArticles.map((article) => (
              <div class="article">
                <a href={`/wiki/${article.slug}/`}>
                  {article.data.title}
                  <p>{article.data.description}</p>
                </a>
              </div>
            ))
          }
        </div>
      </section>
      <section id="all-articles">
        <h2>All Wiki Articles</h2>
        <div class="subtitle">
          <p class="tip">
            <i
              ><b>Tip:</b> You can press <code>&#47;</code> to search the wiki!</i
            >
          </p>
          <div class="sorts">
            <Tooltip content="Sort Method">
              <Icon group="solid" name="sort" />
            </Tooltip>
            <select name="sort" id="sort">
              <option value="alphabetical">A-Z</option>
              <option value="last-modified">Last Modified</option>
              <option value="length">Length</option>
            </select>
          </div>
        </div>
        <div class="grid">
          {
            allWikiArticles.map((article) => (
              <div
                class="article"
                data-last-modified={article.data.lastModified}
                data-length={article.body.length}
              >
                <a href={`/wiki/${article.slug}/`}>
                  <div class="name">{article.data.title}</div>
                  <p class="description">{article.data.description}</p>
                </a>
              </div>
            ))
          }
        </div>
        <div class="stats">
          <span><b>{articleCount}</b> Articles</span>
          <span><b>{wordCount}</b> Words</span>
        </div>
      </section>
      <section id="contributors">
        <h2>Top Contributors</h2>
        <p>
          Thank you to all contributors to the wiki! <Icon
            name="heart"
            group="solid"
            color="red"
          />
        </p>
        <div class="grid">
          {
            contributors
              .filter((user) => !filteredContributors.includes(user.id))
              .map((user) => (
                <div
                  class:list={[
                    "contributor",
                    getContributorLevel(user.contributions),
                  ]}
                >
                  <a
                    href={user.html_url}
                    rel="noopener nofollow"
                    target="_blank"
                  >
                    <Image src={user.avatar_url} alt={user.login} inferSize />
                  </a>
                  <Tooltip
                    content={user.login}
                    placement="bottom"
                    class="username"
                  >
                    <div>{user.login}</div>
                  </Tooltip>
                </div>
              ))
          }
        </div>
        <p>
          <ExternalLink
            url="https://github.com/LuaLS/LuaLS.github.io/blob/main/docs/CONTRIBUTING.md"
          >
            Help Contribute To The Wiki!
          </ExternalLink>
        </p>
      </section>
    </div>
  </main>
</Layout>

<script>
  import dayjs from "dayjs";

  const articlesContainer = document.querySelector(
    "section#all-articles div.grid"
  );
  const allArticles = Array.from(
    document.querySelectorAll("section#all-articles div.grid > div.article")
  );
  const sortDropdown = document.querySelector(
    "section#all-articles select#sort"
  );

  sortDropdown?.addEventListener("input", (e) => {
    let sortFunction = (articleA: Element, articleB: Element): number => {
      const nameA =
        articleA.querySelector<HTMLAnchorElement>("div.name")?.innerText ?? "";
      const nameB =
        articleB.querySelector<HTMLAnchorElement>("div.name")?.innerText ?? "";

      return nameA.localeCompare(nameB);
    };

    switch ((e.target as HTMLInputElement).value) {
      case "last-modified":
        sortFunction = (articleA, articleB) => {
          const dateA = dayjs(articleA.getAttribute("data-last-modified"));
          const dateB = dayjs(articleB.getAttribute("data-last-modified"));

          return dateB.diff(dateA);
        };
        break;
      case "length":
        sortFunction = (articleA, articleB) => {
          return (
            Number(articleB.getAttribute("data-length") ?? 0) -
            Number(articleA.getAttribute("data-length") ?? 0)
          );
        };
        break;
    }

    allArticles
      .sort(sortFunction)
      .forEach((el) => articlesContainer?.appendChild(el));
  });
</script>

<style lang="scss">
  #quick-links {
    display: flex;
    justify-content: center;
    gap: 5vw 5vw;
    margin: 0px 1em;

    & > a {
      color: white;
      border: solid #0084ff 0.1em;
      box-shadow: #0084ff 0px 0px 0.2em 0.1em;
      transition: box-shadow 0.25s ease-in-out;
      border-radius: 0.5em;
      padding: 0.5em 1em;
      gap: 0px 0.75em;

      &:hover {
        box-shadow: #178fff 0px 0px 0.4em 0.3em;
      }

      :global(.icon) {
        font-size: 2.5em;
        display: inline-block;
      }

      h2 {
        display: inline-block;
        width: fit-content;
        margin: 0px 0px 0px 0.5em;
        font-size: 2em;
      }

      p {
        margin: 0px 0px;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    & > section {
      border: solid #0084ff 0.1em;
      box-shadow: #0084ff 0px 0px 0.2em 0.1em;
      padding: 1em;
      border-radius: 0.5em;

      h2 {
        margin: 0px;
        width: fit-content;
      }

      p {
        &:first-of-type {
          margin: 0px 0px 1em 0px;
        }
        &:nth-of-type(2) {
          text-align: center;
          margin-bottom: 0px;
        }
      }
    }
  }

  main > .grid {
    margin: 2em 1em;
  }

  div.article {
    a {
      font-size: 1.3em;
    }
    p {
      font-size: 0.7em;
      margin: 0px auto;
      color: white;
      font-weight: normal;
    }
  }

  #get-started {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
      text-align: center;

      p {
        color: #ffffffcc;
      }

      a {
        transition: color 0.25s ease-in-out;
        &:hover {
          color: #ffb700;
        }
      }
    }
  }

  #contributors {
    div.grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
      justify-content: space-evenly;
      align-items: center;
      gap: 1em;
      margin: 0px 1em;
    }

    div.contributor {
      height: auto;
      width: 100%;

      a,
      img {
        display: block;
        aspect-ratio: 1;
        width: 100%;
        height: auto;
        border-radius: 99em;
        &:focus {
          outline: var(--tier-color) solid 0.3em;
        }
      }
      img {
        border-style: solid;
        box-sizing: border-box;
        box-shadow: var(--tier-color) 0px 0px 10px 3px;
        border-width: 0.2em;
        border-color: var(--tier-color);
        position: relative;
      }

      &.champion {
        --tier-color: #ff2626;
      }
      &.diamond {
        --tier-color: #00f7ff;
      }
      &.gold {
        --tier-color: #ffe600;
      }
      &.silver {
        --tier-color: #b6b6b6;
      }
      &.bronze {
        --tier-color: #b46300;
      }

      :global(span.username.tooltip) {
        margin-top: 0.2em;
        font-size: 0.9em;
        color: white;
        display: block;

        & > div {
          font-weight: 300;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  section#all-articles {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    .grid {
      grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
      text-align: center;

      .article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.2em 0px;

        p {
          color: #ffffffcc;
        }

        a {
          transition: color 0.25s ease-in-out;
          &:hover {
            color: #ffb700;
          }
        }
      }
    }

    .stats {
      display: flex;
      gap: 1em;
      justify-content: right;
    }

    .subtitle {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0.5em;

      p.tip {
        font-size: 0.7em;
        opacity: 0.8;
        margin: 0px;
      }
      .sorts {
        width: fit-content;
        margin-left: auto;

        select#sort {
          background: transparent;
          border: none;
          border-bottom: #276cae solid 0.2em;
          color: white;

          option {
            color: black;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .grid {
      grid-template-columns: 1fr;
    }

    section#all-articles {
      grid-column: unset;
      grid-row: 3 / 3;
    }
  }

  @media screen and (max-width: 700px) {
    #contributors div.grid {
      grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
    }

    #quick-links {
      flex-wrap: wrap;
    }
  }
</style>
